*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build

# Documentation build directories
/.cache/
/doc/site/
/doc/documentation.pdf

# Model binary weights
/app/src/main/assets/*.bin

